.carousel-container {
    animation: carousel-move var(--duration, 80s) infinite;
    left: var(--carousel-offset, 0px);
}

.image-container-carousel {
    /* width: 23vw; */
    background-color: #5a5a5b3b;
    aspect-ratio: 16 / 9;
    /* box-shadow: inset 0px 3px 12px #3c3b3b; */
    box-shadow: inset 20px 20px 12px #3c3b3b;
}

.image-container-carousel img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


@keyframes carousel-move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}